<nav>
  <h1>Hi.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">Hui Zhao</a>.</h2>
  <div id="bio">
    <p>Write Java In The Day.</p>
    <p>
      <a href="http://www.linezh.com/about">About me</a>
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
