<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hackerline.GitHub.io by Hackerline</title>

    <link rel="stylesheet" href="/stylesheets/index/styles.css">
    <link rel="stylesheet" href="stylesheets/index/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LINE's Blog</h1>
        <p>My Blog</p>


        <p class="view"><a href="https://github.com/Hackerline">View My GitHub Profile</a></p>

      </header>
      <section>
		{{ content }}

      </section>
      <footer>
		<p><a href="http://www.linezh.com/about.html">About</a>&nbsp;&nbsp;&nbsp;</p>
        <p><a href="http://www.linezh.com/feed.xml" rel="self" type="application/rss+xml" />RSS</a>&nbsp;&nbsp;&nbsp;</p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>