<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"/>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Hackerline.GitHub.io by Hackerline</title>

    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>LINE's Blog</h1>
        <p>My Blog</p>


        <p class="view"><a href="https://github.com/Hackerline">View My GitHub Profile</a></p>

      </header>
      <section>
        <!-- MAIN CONTENT -->
		<div id="main_content_wrap" class="outer">
			<div id="main_content" class="inner">
				{{ content }}	
			</div>
		</div>


      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>